@import "abstract/variables";
@import 'bootstrap/scss/bootstrap.scss';
@import "abstract/base";


.modal-btn-color-a {
    color : #46139f;
  
}
.modal-btn-color-b {
    color: #ff7f50;
 
}
.modal-btn-color-c {
    border-color: #46139f;
    border: 1 px solid;
    color: #46139f;
}